*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body{
	font-family: 'Martel Sans', sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.contenido{
	/*width: 1260px;*/
	width: 1024px;
	margin: 0 auto;
	/*margin-left: auto;
	margin-right: auto;*/

  }

  .ui-header{
  	padding-top: 25px;
  	background-color: rgb(37, 66, 77);
  	text-align: center;

  /** colores en  CSS **/
  /* 
  	nombre de color
  	codigo HEXADECIMAL
  	codigo RGB
  	codigo HSL

  	transparencias
  	rgba  contienen el valor alfa
  	hsla  contiene el valor alfa
  	*/ 

  }

  .ui-logo{
  	width: 270px;
  	height: auto;
	margin-bottom: 15px;
  }
  .ui-nav-site li{
   	color: #FFF;
  	border-top: 2px solid rgba(255,255,255,0.5);
  	padding: 20px;
  	float: left;
   }
	
	.ui-nav-site li:hover{
	border-top: 2px solid #FFF;
	background-color: #2d6177;
	}

  .ui-nav-site ul{
  	width: 677px;
  	margin: 0 auto;
  }
  .clear{
  	clear: both;
  }

  .img-slider
  {
  	width: 100%;
  }

  /** estilos seccion vinos **/
   .seccion-vinos{
   	padding-top: 50px;
   }
  .seccion-vinos .title-seccion {
	font-size: 40px;
	text-align: center;
	margin-bottom: 30px;
  }

  .seccion-vinos .title-seccion small
  {
  	font-size: 28px;
  	font-family: 'Bilbo Swash Caps', cursive;
  	display: inline-block;
  	margin-top: 15px;
  }

  .seccion-vinos .parrafo-seccion {
	font-size: 16px;
	line-height: 1.4;
	color: #5a5757;
	margin-bottom: 50px;
  }

  .item-vino{
  /*	width: 256px;*/
  	width: 25%;
  	float: left;
  }
  .item-vino img{
  	width: 100%;
  	opacity: 0.5;
  }

  .item-vino img:hover{
  	opacity: 1;
  }

  .servicio-50{
  	width: 50%;
  	float: left;
  }

  .servicio-50 img{
  	width: 100%;
  	vertical-align: top;
  }
  .servicio-100 img{
  	width: 100%;
  }
  .ui-footer{
  	text-align: center;
  	padding-top: 30px;
  	padding-bottom: 20px;
  }
  .ui-footer .menu-footer{
  	margin-bottom: 25px;
  }
  .ui-footer .menu-footer li{
display: inline-block;
vertical-align: top;
padding: 20px;
  }